.Card{
    width: 50%;
    height: 100px ;
    background-color: #FFFFFF;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px;
    border-radius: 25px;
    position: relative;

}
.Card::before{
    content: '';
    position: absolute;
    height: 78%;
    width: 10px;
    background-color: #f0c13f;
    top: 10%;
    border-radius: 10px;

}