.home-page{
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/homePage.jpg);
    background-size: cover;
}
.content{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.content p{
    width: 100%;
    font-size: 35px;
    text-align: center;
    font-family: 'Cairo', sans-serif;
}


@media(max-width : 991px){
    .content p{
        font-size: 25px;
    }
   
}
@media(max-width : 725px){
    .content p{
        font-size: 20px;
    }
    .home-page{
        background-image: url(../../assets/homeRes.png);
    }
}
@media(max-width : 500px){
    .content p{
        width: 170px;
        font-size: 16px;
        margin-right:0 20px 10px;
    }
    .content{
        top: 40%;
    }
   
}